
 
<p class="text-center">  <strong>Username</strong> - admin<br />
  <strong>Password</strong> - admin</p>

<div class="bg-image">

<div class="col-md-6 offset-md-3">
<mdb-card>
<br>
<br>
      <h5 style="text-align: center; color:white">
        <strong>Sign In</strong>
      </h5>
   
  <br>
  
    <!--Card content-->
    <mdb-card-body class="px-lg-5 pt-0">
  
      <!-- Form -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center">
  
        <!-- Email -->
        <div class="md-form">
          <input type="email" id="username" class="form-control" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" mdbInput>
          <label for="username" style="color: white;">Username</label>
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        </div>
  
        <!-- Password -->
        <div class="md-form">
          <input type="password" id="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" mdbInput>
          <label for="password" style="color: white;">Password</label>
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
        </div>
  
        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox style="color: white;">Remember me</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a style="color: white;" href="">Forgot password?</a>
          </div>
        </div>
  
        <!-- Sign in button -->
        <button [disabled]="!loginForm.valid" mdbBtn color="white" style="border-radius: 24px; color:black; font-weight: bolder; font-size:medium;" rounded="true" block="true" class="my-4 waves-effect z-depth-0"
          type="submit">Login
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i></button>
  
          <br>
   <br>
   <br>
        <!-- Register -->
        <p style="color: white;">Not a member?
          <a style="color: white;" [routerLink]="['/register']" href="">Sign Up</a>
        </p>
  
   
      </form>
      <!-- Form -->
  
    </mdb-card-body>
  
  </mdb-card>
  </div>
 </div>

  <!-- Material form login -->