
  
  .logo{
    width:200px;
    height:250px;
    left:10px;
    cursor: pointer;
    
  }

  [id='toggle-heart'] {
    position: absolute;
    left: -100vw;
  }

  [for='toggle-heart'] {
    color: black;
  }
  
  [id='toggle-heart']:checked + label {
    color: #e2264d;
  }

  [for='toggle-heart'] {
    font-size: 2em;
    cursor: pointer;
  }

  .btn-primary {
    border-radius: 50%;
  }