<div class="container">
    <div class="row pull-right">
        <button class="btn btn-primary"><i class="fa fa-plus" data-toggle="modal" data-target="#createModal"></i></button>
        </div>
        <br>
        <br>
    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let item of jeansDetails">
  
          <div class="card mb-5 shadow ">
           <div class="card-block">
            <i class="fa fa-edit"  data-toggle="modal" data-target="#updateModal" (click)="editModal(item)" style="float:left; font-size:24px; cursor: pointer;"></i>
            <i class="fa fa-close" (click)="deleteItem(item)" style="float:right; font-size:24px; cursor: pointer;"></i>

        <div class="card-body">
          
            <span class="text-center"><img class="logo" [src]="item.logo" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="openModal(item)"></span>
          <br>
          <br>
          <div style="line-height: 0.75em;">
            <p class="card-text" style="font-weight:bold;">{{item.company}}</p>
            <p class="card-text" style="font-size: 13px;">{{item.product}}</p>
            <p class="card-text" style="font-weight:bold;">{{item.cost}}</p>
  
          </div>
        </div>
    </div>
    </div>
  </div>
  </div>
  </div>

  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered popup" role="document">
        <div class="modal-content p-4 font-header">
            <div class="modal-header border-0 pt-0 pb-2">
                <div class="modal-title">
                    <label class="col-md-12 details pt-2 pb-2  pl-2 no-background title">
                        
                    </label></div>
                <button type="button" class="close fs30" data-dismiss="modal">
                    &times;
                </button>
            </div>
           
            <div class="modal-body pt-0 pb-0">
               
                  <div class="row mb-4 pt-2">
                   
                      <div class="col-md-4">
                          <img src="{{logo}}" style="width: 400px; height: 450px;">
                         
                      </div>
                      <div class="col-md-4 ml-auto" style="margin-top: 140px;">
                        <span class="black-text grey-back" style="font-weight: bold; font-size: 30px;">{{company}}</span>
                        <br>
                        <span class="grey-text grey-back" style="font-size:20px;">{{product}}</span>
                        <br>
                        <span class="black-text grey-back" style="font-weight: bold; font-size: 30px;">{{cost}}</span>
                      </div>
                  </div>
                  
               
            </div>

            <div class="modal-footer border-0 p-0">
                <div class="col-md-12 p-4 mb-0 text-center">
                    <button type="button" data-dismiss="modal" class="btn btn-danger my-2 my-sm-0 mr-2">
                        Close
                    </button>

                  
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered popup" role="document">
        <div class="modal-content p-4 font-header">
            <div class="modal-header border-0 pt-0 pb-2">
                <div class="modal-title">
                    <label class="col-md-12 details pt-2 pb-2  pl-2 no-background title">
                        Update Items Details
                    </label></div>
                <button type="button" class="close fs30" data-dismiss="modal">
                    &times;
                </button>
            </div>
           
            <div class="modal-body pt-0 pb-0">
                <form [formGroup]="updateForm">
                 
                    <div class="row mb-4 pt-2">
                     
                        <div class="col-lg-6">
                            <span class="square-input-box"> <input class="input-field" type="text"
                                    onkeypress="return /[a-z- ]/i.test(event.key)" formControlName="company"
                                    [(ngModel)]="company" minlength="3"></span>
                            <span class="input-label grey-text grey-back">Company</span>
                        </div>
                        <div class="col-lg-6">
                            <span class="square-input-box"> <input class="input-field" type="text"
                                    formControlName="id" [(ngModel)]="id" minlength="3"></span>
                            <span class="input-label grey-text grey-back">ID</span>
                        </div>
                    </div>
                    <div class="row mb-4 pt-2">
                      <div class="col-lg-6">
                          <span class="square-input-box"> <input class="input-field" type="text"
                                  onkeypress="return /[a-z- ]/i.test(event.key)" formControlName="product"
                                  [(ngModel)]="product" minlength="3"></span>
                          <span class="input-label grey-text grey-back">Product</span>
                      </div>
                      <div class="col-lg-6">
                          <span class="square-input-box"> <input class="input-field" type="text"
                                  formControlName="cost" [(ngModel)]="cost" minlength="3"></span>
                          <span class="input-label grey-text grey-back">Cost</span>
                      </div>
                  </div>
                  <div class="row mb-4 pt-2">
                    <div class="col-lg-6">
                        <span class="square-input-box"> <input class="input-field" type="text"
                                 formControlName="logo"
                                [(ngModel)]="logo" minlength="3"></span>
                        <span class="input-label grey-text grey-back">Image Path</span>
                    </div>
                </div>
                  
                 
                  
                   
                </form>
            </div>
            <div class="modal-footer border-0 p-0">
                <div class="col-md-12 p-4 mb-0 text-center">
                    <button type="button" data-dismiss="modal" class="btn btn-danger my-2 my-sm-0 mr-2">
                        Cancel
                    </button>

                    <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-dismiss="modal"
                    (click)="editCard()" >
                        Update
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
  






<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="openModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered popup" role="document">
    <div class="modal-content p-4 font-header">
        <div class="modal-header border-0 pt-0 pb-2">
            <div class="modal-title">
                <label class="col-md-12 details pt-2 pb-2  pl-2 no-background title">
                    New Item Details
                </label></div>
            <button type="button" class="close fs30" data-dismiss="modal">
                &times;
            </button>
        </div>
       
        <div class="modal-body pt-0 pb-0">
            <form [formGroup]="createForm">
             
                <div class="row mb-4 pt-2">
                 
                    <div class="col-lg-6">
                        <span class="square-input-box"> <input class="input-field" type="text"
                                onkeypress="return /[a-z- ]/i.test(event.key)" formControlName="company"
                                 minlength="3"></span>
                        <span class="input-label grey-text grey-back">Company</span>
                    </div>
                    <div class="col-lg-6">
                        <span class="square-input-box"> <input class="input-field" type="text"
                                formControlName="id" minlength="3"></span>
                        <span class="input-label grey-text grey-back">ID</span>
                    </div>
                </div>
                <div class="row mb-4 pt-2">
                  <div class="col-lg-6">
                      <span class="square-input-box"> <input class="input-field" type="text"
                              onkeypress="return /[a-z- ]/i.test(event.key)" formControlName="product"
                              minlength="3"></span>
                      <span class="input-label grey-text grey-back">Product</span>
                  </div>
                  <div class="col-lg-6">
                      <span class="square-input-box"> <input class="input-field" type="text"
                              formControlName="cost" minlength="3"></span>
                      <span class="input-label grey-text grey-back">Cost</span>
                  </div>
              </div>
              <div class="row mb-4 pt-2">
                <div class="col-lg-6">
                    <span class="square-input-box"> <input class="input-field" type="text"
                             formControlName="logo"
                            minlength="3"></span>
                    <span class="input-label grey-text grey-back">Image Path</span>
                </div>
            </div>
              
             
              
               
            </form>
        </div>
        <div class="modal-footer border-0 p-0">
            <div class="col-md-12 p-4 mb-0 text-center">
                <button type="button" data-dismiss="modal" class="btn btn-danger my-2 my-sm-0 mr-2">
                    Cancel
                </button>

                <button type="button" class="btn btn-success my-2 my-sm-0 ml-2" data-dismiss="modal"
                (click)="addItem()" >
                    Add
                </button>
            </div>
        </div>
    </div>
</div>
</div>
